.chat-header-text h3{
    margin: 0;
    margin-top: 8px;
    padding-left: 20px;
    text-align: left;
    font-weight: 600;
    font-size: 16px;
}
.chat-header-text p{
    margin: 0;
    padding-left: 20px; 
    text-align: left;
    font-weight: 300;
    font-size: 13px;
}


.chat-chat{
    overflow-y: scroll;
}

.chat-chat::-webkit-scrollbar{
    background-color: white;
    box-shadow: inset 0 0 2px rgba(0, 0, 0, 0.4);
    width: 6px;
    border-radius: 4px;
}

.chat-chat::-webkit-scrollbar-thumb{
    background-color: rgba(140, 140, 240, 0.3);
    border-radius: 4px;
}
.chat-chat-input .input{
    width: 100%;
    height: 40px;
    border-radius: 20px;
    border: 1px solid #ddd;
    background-color: white;
    position: relative;
}

.chat-chat-input .input input{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 20px;
    border: none;
    width: 80%;
}

.chat-chat-input .input button{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 5px;
    height: 35px;
    width: 35px;
    border-radius: 50%;
    border: none;
    background-color: rgb(127, 127, 255);
}

.chat-message-time{
    position: absolute;
    color: black;
    bottom: -20px;
    right: 0;
    background-color: var(--primary-text-color);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0.6);
    border-radius: 3px;
    padding-left: 3px;
    padding-right: 3px;
    font-size: 12px;
    width: 25px;
}