.typing-dot{
    position: absolute;
    height: 6px;
    width: 6px;
    background-color: rgb(127, 127, 255);
    border-radius: 5px;
    margin: 2px;
}

#typing-dot-one{
    left: 0;
    animation: dotOne 2s infinite;
}
#typing-dot-two{
    left: 15px;
    animation: dotTwo 2s infinite;
}
#typing-dot-three{
    left: 30px;
    animation: dotThree 2s infinite;
}

@keyframes dotOne {
    0% {
      top: -3px;
    }
    12.5% {
        top: 0px;
    }
    25% {
        top: 3px;
    }
    37.5%{
        top: 0px,
    }
    50% {
        top: -3px;
    }
    63.5% {
        top: 0px;
    }
    75% {
        top: 3px;
    }
    87.5% {
        top: 0px;
    }
    100% {
        top: -3px;
    }
}

@keyframes dotTwo {
    0% {
        top: 0px;
      }
      12.5% {
          top: 3px;
      }
      25% {
          top: 0px;
      }
      37.5%{
        top: -3px;
      }
      50% {
          top: 0px;
      }
      63.5% {
        top: 3px;
      }
      75% {
          top: 0px;
      }
      87.5% {
        top: -3px;
      }
      100% {
          top: 0px;
      }
}

@keyframes dotThree {
    0% {
        top: 3px;
      }
      12.5% {
          top: 0px;
      }
      25% {
          top: -3px;
      }
      37.5%{
        top: 0px;
      }
      50% {
          top: 3px;
      }
      63.5% {
        top: 0px;
      }
      75% {
          top: -3px;
      }
      87.5% {
        top: 0px;
      }
      100% {
          top: 3px;
      }
}