.container-full-onboarding{
    height: 100vh;
    width: 100vw;
    position: relative;
}

.container-full-onboarding .inner-container{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    height: 85%;
    width: 80%;
    background-color: rgba(255,255,255,1);
    box-shadow: 0 0 8px rgba(70, 70, 70, 0.3);
    border-radius: 5px;
    z-index: 5;
    display: grid;
    grid-template-columns: 60% 40%;
    grid-template-rows: 100%;
}

.container-full-onboarding .onboarding-img{
    position: absolute;
    top: 39%;
    left: 30%;
    transform: translate(-50%,-50%);
}
.container-full-onboarding .onboarding-img1{
    position: absolute;
    top: 60%;
    left: 40%;
    transform: translate(-40%,-50%);
}