@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300&display=swap');

:root {
  --primary: #6e46fc;
  --primary-text: #fff;
}
body{
  margin:0;
  padding:0;
  height: 100vh;
  width: 100vw;
}
.App {
  text-align: center;
  position: relative;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

a{
  text-decoration: none;
}

button:focus{
  outline: none;
}

h1,h3{
  font-family: 'Roboto', sans-serif;
}

p{
  font-family: 'Roboto', sans-serif;
}

#application{
  position: absolute;
  height: 85%;
  width: 80%;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  background-color: #fbfbfc;
  box-shadow: 0 0 7px rgba(80, 80, 80, 0.3);
}

input:focus{
  outline: none;
}